:root{
  --bg-primary-color: #181818;
  --btn-primary-color-gradient : linear-gradient(0.25turn, #996577, #4E4362);
  --btn-primary-color : #996577;
  --btn-secondary-color-gradient : linear-gradient(0.25turn, #BB7EB9, #553954);
  --btn-secondary-color : #4E4362;
}

